
// SECTION, IMAGEM E TITULO
.noticias{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.noticias .itemNoticia{
    width: 100%;
    height: 500px;
    background-position: center;
    background-size: cover;
    position: relative;
    background-repeat: no-repeat;
}
.noticias .itemNoticia::before{
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.25);
}
.noticias .itemNoticia .dataPublicacao{
    font-family: helvetica;
    font-weight: 400;
    font-size: 26px;
    line-height: 30px;
    color: #FFFFFF;
    position: absolute;
    top: 21px;
    left: 29px;
}
.noticias .itemNoticia .textosNoticias{
    display: flex;
    flex-direction: column;
    gap: 12px;
    position: absolute;
    left: 29px;
    bottom: 48px;
}
.noticias .itemNoticia .textosNoticias h3{
    font-family: helvetica;
    font-weight: 700;
    font-size: 200%;
    line-height: 70px;
    color: #FFFFFF;
    width: 70%;
    text-shadow: 10px 10px 10px black;
}
.noticias .itemNoticia .textosNoticias h6{
    font-family: helvetica;
    font-weight: 600;
    font-size: 26px;
    line-height: 30px;
    color: #FFFFFF;
    text-shadow: 10px 10px 10px black;

}
.noticias .itemNoticia .textosNoticias a{
    font-family: helvetica;
    font-weight: 400;
    font-size: 26px;
    line-height: 30px;
    color: #000AFF;
    text-shadow: 10px 10px 10px black;

}

// LINK HOME
.bodyInterna .LinkHome{
    display:flex;
    flex-direction: row;
    
}

.bodyInterna .LinkHome a {
    padding: 26px 0px 26px 0px;
    color: #00D66F;
    text-decoration: none;
    font-family: helvetica;
    font-size: 150%;
    margin-left: 50px;
}

// TEXTO CORPO DA PAGINA 

.bodyInterna .textBody p{
    color: white;
    font-family: helvetica;
    font-size: 150%;
    padding: 0px 40px 40px 40px;
    text-align: center;
}

// MEDIA QUERY 

@media ( min-width: 250px ) and ( max-width: 700px ){
    .noticias .itemNoticia .textosNoticias h3{
        font-weight: 700;
        font-size: 170%;
        line-height: 30px;
    }
}

