<section class="noticias">
    <div class="itemNoticia">
      <span class="dataPublicacao">
          21/03/2023
        </span>
      <div class="textosNoticias">
          <h3>
              Lorem Ipsum
            </h3>
        <h6>
            Categoria
        </h6>
        <a href="#">
            Autor
        </a>
    </div>
</div>
</section> 
<section class="bodyInterna">

    <div class="LinkHome">
        <a href="#"> <- Home</a>
    </div>
    <div class="textBody">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ut metus eget mi euismod dignissim. Nulla ullamcorper nisi ligula, ut facilisis lorem sollicitudin vitae. Morbi risus nibh, sodales a justo pellentesque, imperdiet pellentesque odio. Vestibulum lacinia mi quis nunc tincidunt ornare. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Pellentesque venenatis commodo lorem elementum malesuada. Suspendisse id fermentum eros, viverra iaculis mi. Quisque vitae sollicitudin tortor. Morbi dignissim lorem vel tellus elementum mattis. Integer sodales mauris ipsum. Sed condimentum lacus odio, et venenatis eros blandit ut. In massa dui, varius vel velit tempor, scelerisque dictum odio.
            Sed fringilla arcu quam, ut placerat nibh facilisis nec. Vivamus dignissim ligula vel quam tempus, eget convallis tortor vestibulum. Nulla facilisi. Praesent nec metus ut orci tincidunt eleifend. Proin laoreet, diam ut interdum euismod, lorem ex viverra dolor, et ultricies eros odio ac purus. Morbi in nibh sed ante vehicula eleifend et vitae massa. Sed et mattis lacus, sit amet luctus orci. Nam justo lectus, molestie vitae tellus convallis, lacinia placerat purus. Aenean et mauris ut nunc tincidunt malesuada vel vitae risus. Pellentesque bibendum commodo tortor, nec bibendum augue sodales ac. Suspendisse condimentum tincidunt orci elementum porttitor.
            Cras ut tristique massa. Praesent nec risus scelerisque, pharetra urna quis, ullamcorper neque. Pellentesque ut mattis augue. Donec nec tortor ac turpis porttitor elementum nec non metus. Donec at turpis sem. Aenean iaculis diam vestibulum metus varius, laoreet eleifend velit rutrum. Aenean sit amet congue enim.
            Suspendisse quam enim, porta quis lectus nec, maximus ullamcorper nulla. Fusce mattis nulla ut finibus pulvinar. Vivamus nec gravida lacus. Cras eu ipsum non lacus pellentesque viverra. In congue rhoncus sem ut condimentum. Praesent aliquam arcu lectus, vitae eleifend odio tristique eget. Etiam rutrum dui ut faucibus semper. Aliquam faucibus augue eros, sit amet lacinia mauris mattis non. Morbi ac nunc id sapien elementum dignissim eget et neque. Donec tincidunt rutrum vulputate. Morbi nec ultricies erat.
            Mauris viverra orci ut justo dignissim, facilisis dictum justo elementum. Nunc euismod porta purus, ac consectetur eros vehicula at. Sed quam tortor, molestie eget molestie quis, aliquam sit amet turpis. Nulla gravida vel est tempor vulputate. Morbi malesuada turpis ut libero lacinia auctor. Vestibulum non fermentum metus. Mauris eu sagittis sem. Suspendisse in finibus diam. Cras pellentesque viverra justo, ac pretium eros cursus a.
            Morbi quis metus vel nisl ultricies eleifend vitae in velit. Maecenas scelerisque venenatis massa nec pharetra. Praesent varius feugiat feugiat. Donec laoreet nisl sit amet consectetur tempus. Integer euismod malesuada ullamcorper. Quisque justo odio, eleifend ac imperdiet non, sodales nec purus. Ut blandit leo nec suscipit commodo. Duis arcu tellus, varius eu magna id, euismod interdum lectus. Mauris euismod facilisis porta. Nam eget justo rutrum, blandit libero a, semper sapien. Aliquam efficitur, risus quis gravida iaculis, odio elit euismod nunc, nec hendrerit diam leo et elit. Cras faucibus lectus vel rutrum rhoncus. Pellentesque sed enim eu nunc feugiat aliquam eget id est. Vivamus dolor risus, semper egestas tortor nec, interdum euismod magna.
            Quisque semper lobortis turpis sed auctor. Proin consectetur massa at tellus sollicitudin volutpat. Etiam ipsum felis, malesuada sit amet ultricies quis, rhoncus sit amet urna. Aenean cursus, justo eu hendrerit sollicitudin, lacus dui viverra sapien, ullamcorper lobortis nisi nibh ut nibh. Phasellus eleifend felis sit amet tellus tempus, quis varius ex gravida. Aliquam risus ligula, rhoncus vitae commodo eu, vulputate non massa. Praesent dignissim eu odio eget aliquam. Vivamus a elementum lorem, ut fermentum odio. Fusce a lacinia ante. Suspendisse iaculis tincidunt consequat. Sed eros ligula, malesuada nec tempor in, pellentesque sit amet urna. Morbi vulputate turpis vel risus efficitur, in ultricies lectus laoreet. Suspendisse consequat nibh et rutrum luctus. Cras eleifend mi tristique velit scelerisque tempus. Curabitur id ligula at lorem semper ornare.
            </p>
    </div>

</section>   