<ng-container  *ngFor="let i of noticia">
    <section class="noticias">
        <div  *ngIf="i.id == idDaUrl" style="background-image:url({{i.imagem}});" class="itemNoticia">
            <span class="dataPublicacao">
                {{ i.dataPublicacao }}
            </span>
        <div class="textosNoticias">
            <h3>
                {{ i.titulo }}
            </h3>
        <h6>
            {{findCateg(i.categoria)}}
        </h6>
        <a href="#">
            {{ i.autor }}
        </a>
        </div>
    </div>
    </section>
    
    
 <div class="bodyInterna" *ngIf="i.id == idDaUrl">

    <div class="LinkHome">
        <a href="#"> <- Home</a>
    </div>
    <div class="textBody">
        <p>
            {{ i.corpo }}
        </p>
    </div>

  </div>  
</ng-container>




  