<!-- <ng-container  *ngFor="let i of noticia">
    <section >
        <div  *ngIf="i.id == idDaUrl" > -->
    <section class="noticias">
        <div [ngStyle]="{'background-image':'url('+ noticias.imagem +')'}" class="itemNoticia">
            <span class="dataPublicacao">
                {{ noticias.dataPublicacao }}
            </span>
            <div class="textosNoticias">
                <h3>
                    {{ noticias.titulo }}
                </h3>
                <h6>
                    {{findCateg(noticias.categoria)}}
                </h6>
                <a href="#">
                    {{ noticias.autor }}
                </a>
            </div>
        </div>
    </section >
    <!-- </div>
    </section> -->
    
    <!-- *ngIf="i.id == idDaUrl" -->
    <div class="bodyInterna" >

    <div class="LinkHome">
        <a href="#"> <- Home</a>
    </div>
    <div class="textBody">
        <p>
            {{ noticias.corpo }}
        </p>
    </div>

  </div>  
<!-- </ng-container> -->




  