
<section class="noticias">
    <div class="itemNoticia" >
      <span class="dataPublicacao">
        21/03/2023
      </span>
      <div class="textosNoticias" src="http://localhost:4200/interna">
        <h3>
          Lorem Ipsum
        </h3>
        <h6>
          Categoria
        </h6>
        <a href="http://localhost:4200/interna">
          Autor
        </a>
      </div>
    </div>
    <div class="itemNoticia" src="http://localhost:4200/interna">
      <span class="dataPublicacao">
        21/03/2023
      </span>
      <div class="textosNoticias">
        <h3>
          Lorem Ipsum
        </h3>
        <h6>
          Categoria
        </h6>
        <a href="http://localhost:4200/interna">
          Autor
        </a>
      </div>
    </div>
  </section>