
// CARDS COM IMAGEM E TEXTO 
// IMAGEM
.noticias{
    display: flex;
    flex-direction: column;
    margin: 50px 0;
    align-items: center;
    gap: 50px;
    // padding: 50px 0px 0px 0px;
  }
  .noticias .itemNoticia{
    width: 80%;
    height: 333px;
    background-image: url('https://picsum.photos/seed/picsum/1400/330');
    background-position: center;
    background-size: cover;
    position: relative;
  }
  .noticias .itemNoticia::before{
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.25);
  }

//  TEXTO DO CARD

  .noticias .itemNoticia .dataPublicacao{
    font-family: helvetica;
    font-weight: 400;
    font-size: 26px;
    line-height: 30px;
    color: #FFFFFF;
    position: absolute;
    top: 21px;
    left: 29px;
  }
  .noticias .itemNoticia .textosNoticias{
    display: flex;
    flex-direction: column;
    gap: 12px;
    position: absolute;
    left: 29px;
    bottom: 48px;
  }
  .noticias .itemNoticia .textosNoticias h3{
    font-family: helvetica;
    font-weight: 700;
    font-size: 60px;
    line-height: 70px;
    color: #FFFFFF;
  }
  .noticias .itemNoticia .textosNoticias h6{
    font-family: helvetica;
    font-weight: 600;
    font-size: 26px;
    line-height: 30px;
    color: #FFFFFF;
  }
  .noticias .itemNoticia .textosNoticias a{
    font-family: helvetica;
    font-weight: 400;
    font-size: 26px;
    line-height: 30px;
    color: #000AFF;
  }