
<section class="btnsNoticias">
  <div class="lineBtn">
    <button type="button" *ngFor="let categ of categorias" (click)="trocarCategoriaSelecionada(categ.id)">
      {{categ.nome}}
    </button>
  </div>
</section>
<section class="noticias">
  <ng-container *ngFor=" let i of noticia ">
    <div  *ngIf="categoriaSelecionada == i.categoria || categoriaSelecionada == 0" class="itemNoticia" style="background-image: url({{i.imagem}});" routerLink="/interna/{{i.id}}">
      <span class="dataPublicacao">
        {{i.dataPublicacao}}
      </span>
      <div class="textosNoticias" src="http://localhost:4200/interna">
        <h3>
          {{i.titulo}}
        </h3>
        <h6>
          {{findCateg(i.categoria)}}
        </h6>
        <a href="http://localhost:4200/interna">
          {{i.autor}}
        </a>
      </div>
    </div>
</ng-container>
</section>
